html{
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after{
  box-sizing:inherit;
}

body {
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  color:#404146;
  text-align: center;
  line-height: 1.3;
}

h1,h2,h3{
  margin-top:10px;
}

a, a:visted, a:hover{
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}


.header {

  background-color: #222222;
  color: #404146;
  height: 100px;
  padding: 1px;
}

.header-logo {
  float: left;
  border-radius: 50%;
  padding: 25px 40px;
  margin-left: 300px;
  
}
.header-logo img{
  width: 52px;
  height: 52px;
  border-radius: 50%;
  
}
.header-list{
  margin-right:300px;
  color:#fff;
}
.header-list li {
  float: right;
  padding: 25px 20px;
  font-size: 20px;
  color:#fff;
  
}

.header-list a {
  color:#a7a7a7;
  text-decoration: none;

}

.copy-container {
  position: relative;
  text-align: left;
  background-color: #222222;
}
.copy-text-container{
  padding-top: 50px;
  margin-left:200px;
  width: 60%;
}

.copy-text-container ul{
  margin-top: 36px;
  padding: 0px;
 
}

.copy-text-container li{
 margin-bottom: 15px;

 width: 40%;
}

.photo{
  padding-top: 50px;
  margin-left:200px;
}
.photo img{
  margin-right: 140px;
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 114px;
  right: 340px;
  border-radius: 50%;
  box-shadow: 5px 5px, inset 0 0 10px rgba(0,0,0,.5);
}
.photo2 img{
  margin-top: 140px;
  margin-right: 300px;
  position: absolute;
  top: 0px;
  right: 120px;
  border-radius: 50%;
  box-shadow: -5px 5px, inset 0 0 10px rgba(0,0,0,.5);
  
}

.copy-container h1 {
  font-size: 80px;
  margin-bottom: 5px;
  letter-spacing: 10px;
  margin-left: 240px;
 
  color:#fff;
}

.copy-container h2 {
 
  margin-left: 240px;
  font-size: 30px;
  font-weight: 200;
  color:#fff;
  width: 60%;
}


.copy-container span {
  color: #f26c4f;
}

.copy-container img {
  height:300px;
}

.about { 
  /* border: 1px solid magenta; */
  font-size: 28px;
  height: 720px;
  background-color: #1f1f1f;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  color:#a7a7a7;
 
}

.about-title {
 
  font-size:16px;
  margin-left:26.4rem;
  text-decoration: underline;
  color: #f26c4f;

}

.about-title h3, a, span{
  color:#f26c4f;
}
.about .row{
  
  margin-left:400px;
  margin-right:300px;
  padding: 0px;
  display: flex;
  
}
.about .column{
  
  flex: 50%;
  padding: 0px;
  height: 10px;
  margin: 1.5rem;
}

.about h1{
  
  color:#fff;
  font-size: 2.31rem;
  font-size: 42px;
}

.about h2{

  margin-top: 10px;
  font-size: 42px;
  color:#fff;

}
.about h3 {

}

.about p {
  color:#a7a7a7;
  font-size: 20px;
  padding: 0px;
  margin: 0.2rem;
 
  text-align: justify;
}
.about span{
  position: absolute;
 
  color: #f26c4f;
  margin-left: 40px;
  
}

.about a{
  color: inherit;
  text-decoration: none;
  color: #f26c4f;
}
.column a{
  text-decoration: underline;
}

.contents_1{
  height: 740px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #222222;
}

.contents_1 h1{
  font-size: 54px;
  color:#fff;
}

.contents_1 h3{
  font-size: 16px;
  color: #f26c4f;
  text-decoration: underline;
}

.contents_1-item {
  float: left;
  width: 33.3%;
}

.contents_1-item img{
  height: 300px;
  
}
.slider {
  
  margin-left: 120px;
  margin-right: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
  /* border: 1px solid magenta; */
}

.slides {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;

}
.slides::-webkit-scrollbar-thumb {
  background: #f26c4f;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #222222;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slides > div:target {
/*   transform: scale(0.8); */
}
.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

.slide-content img{
  width: 86px;
  height: 86px;
}

.slide-content h2{
font-size: 20px;
color:white;
}

.slide-content p{
  font-size: 20px;
  color:#a7a7a7;
  }

.contents {
  background-color: #1f1f1f;
  height: 58.2rem;
  padding-top: 80px;
  padding-bottom: 80px;
}


.contents h1{
  font-size: 54px;
  color:#fff;
  margin-bottom: 40px;
}
.contents h2{
  display: flex;
  position: absolute;
  font-size: 90px;
  margin-left: 520px;
  color:white;
}

.contents h3{
  font-size: 16px;
  color: #f26c4f;
  margin-bottom: 1.2rem;
  text-decoration: underline;
}

.contents-item {
  
  display: block;


}

.contents-item img{
  height: 300px;
  margin-left: 620px;
  margin-bottom: 32px;
 /* box-shadow: 5px 5px 20px rgba(228, 228, 228, 0.886); */
}

.contents-item p {
  display: flex;
  position: absolute;
  font-size: 20px;
  text-align: justify;
  margin-top: 8.2rem;
  margin-left: 520px;
  width: 32.2rem;
  color:#a7a7a7;

}

.contact-form {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 80px;
  background-color: #222222;
}

.contact-title {
  font-size: 28px;

}

input, textarea {
  width: 440px;
  margin-top: 60px;
  margin-bottom: 0px;
  padding:20px;
  font-size: 18px;
  border: 0px;
  background-color: #1f1f1f;
  color: white;
  resize: none; 
  
}

::placeholder {
  font-family: "Avenir Next";
  color:#7C7D83;
}

.contact-submit{
  width: 420px;
  background-color:#f26c4f;
  color:white;
  font-size: 22px;
}

.contact-form p{
  font-size: 20px;
}

.footer {
  background-color: #222222;;
  color: #fff;
  height: 700px;
  padding: 40px;
  
}

.footer-logo {
  margin-top: -80px;
  border-radius: 50%;
  margin-bottom: 100px;
  margin-left: 50%;
}

.footer-logo img{
 
  width: 62px;
  height: 62px;
  border-radius: 50%;
 
}

.footer-list {
text-align: center;

}

.footer-list li {
  padding-bottom: 20px;

}

.footer-list a {
  text-decoration: none;
  color:#fff;
}

.footer .row{

  margin-left:400px;
  margin-right:400px;
  padding: 0px;
  display: flex;
  
}
.footer .column{
  float:left;
  flex: 50%;
  padding: 0px;
  height: 10px;
  margin: 1.2rem;
  
}
.footer h3{
  font-size: 12px;
  position: relative;
  display: block;
  text-align: left;
  margin-top: 0px;
  margin-left: 80px;
  color:#7C7D83;
}

.footer h2{
  font-size: 16px;
  position: relative;
  display: block;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 36px;
  margin-left: 0px;

}

.footer h1{
 font-size: 44px;
 font-weight: 800;
 
}

.footer-content p{
  position: relative;
  font-size:32px;
 
  display: block;
  margin-top: 0px;
  margin-left: 80px;
  text-align: left;
  font-weight: 1000;
}
.footer img{
  position: absolute;
  margin-bottom: 16px;
  display: flex;
  margin-right: 120px;
  width: 64px;
  height: 64px;
 
  
}

.footer-content{
  position: relative;
 
}
